---
// Component Imports
import GenericPage from '../layouts/GenericPage.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
let title = 'About'
let permalink = 'about'
let description = 'All about me'

---

<GenericPage {title} {permalink} {description}>

<section class="mt-8">
<h1>About Me</h1>
<div class="flex">
	<img class="rounded-full w-40 h-40 mr-8 border-4 border-brand" src="/assets/me.jpeg" alt="A headshot of Mark Anthony Cianfrani, half asleep"/>
	<div class="flex justify-center flex-col">
	<p class="text-2xl mb-2">
		My name is Mark Anthony Cianfrani. I'm a Full Stack Developer, whatever that means. 
		</p><p>
		I took a class called "Scripting Languages for Businesses Today" in high school and it bored me 
		to death so badly that I went and got a degree in English. To be fair, the web really sucked back then. 
	</p>
	<div class="mt-2"><span class="font-bold">Current Status: </span>Design Systems <span class="text-xs italic">(NOT Systems Design)</span> and Web Components
	</div>
	</div>
</div>
</section>
<section class="mt-8">
<ul class="">
<li class="mr-4">
	<a href="/uses">Uses</a>
</li>
</ul>
</section>
</GenericPage>
