---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="not-prose mb-8 pb-8 border-b border-solid border-white border-b-gray-300">
	<header class="">
		<p class="text-base text-gray-400">{post.publishDate}</p>
		<a href={post.url+'/'}><div class="text-4xl font-bold text-gray-800 my-4">{post.title}</div></a>
	</header>
	<p>{post.description}</p>
	<a href={post.url+'/'}>Read more</a>
</article>

<style></style>
